<h1 class="map-title">カオスマップ</h1>

<table>
 <thead>
 	<tr>
 	  <th>カテゴリ（大）</th>
 	  <th>カテゴリ（小）</th>
 	  <th>ロゴイメージ</th>
 	</tr>
 </thead>

 <tbody>
	<tr>
		<th>
			<% @large_categories.each do |f| %>
	 	  	<%= f.large_category_name %>
 	        <% end %>

	 	</th>
	 	<th>
	 	    <% @small_categories.each do |d| %>
	 	    <%= d.small_category_name %>

 	    </th>
 	    <th>
 	    	<% d.companies.each do |m| %>
 	  	  		<P><%= m.company_name %></P>
 	  	  		<p><%= attachment_image_tag m, :company_image, :fill, 320, 40 %></p>
 	  	  	<% end %>
 	  	  	<% end %>

 	  	</th>




 	</tr>
 	</tbody>
  </table>

<p class="link-to-new"><%= link_to("新規投稿", new_largecategory_path) %></p>