<h1 class="form-title">カオスマップ投稿フォーム</h1>

<h2 class="post-type">データを投稿</h2>
<!-- LargeCategoryモデル -->
<%= form_with(model: @large_category, local: true, url: largecategories_path) do |f| %>

 <p><%= f.label :large_category_name, "カテゴリ名（大）" %></p>
 <%= f.text_field :large_category_name, class: 'form_control' %>

<br>
<!-- ここからSmallCategoryモデル -->
<%= f.fields_for @small_category do |d| %>
  <p><%= d.label :small_category_name, "カテゴリ名（小）" %></p>
  <%= d.text_field :small_category_name, class: 'form_control' %>

<br>
  <%= d.fields_for @company do |m| %>
    <p><%= m.label :company_name, "サービス名" %></p>
    <%= m.text_field :company_name, class: 'form_control' %>

    <p><%= m.label :company_image, "ロゴイメージ" %></p>
    <%= m.attachment_field :company_image, class: 'form_control' %>
  <% end %>
<% end %>

  <p><%= f.submit "送信" %></p>
<% end %>