<!DOCTYPE html>
<html>
  <head>
    <title>ChaosmakerSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
      <div class="header-middle clearfix">
         <a href="#main-visual">
          <img class="header-img" src="">
         </a>
         <nav>
          <div class="menu-box">
            <span class="list-bar"></span>
            <span class="list-bar"></span>
            <span class="list-bar"></span>
          </div>
          <ul class="nav-list">
            <li class="nav-list-item">top</li>
            <li class="nav-list-item">new</li>
            <li class="nav-list-item">map</li>
            <li class="nav-list-item">company</li>
          </ul>
         </nav>
      </div>
     </header>

     <div class="body">
       <div class="container">

          <%= yield %>


       </div>
     </div>


    <footer>
      <p class="footer-text">© All rights recerved by Reimi Goto</p>
    </footer>
  </body>
</html>
